/*
 * * * * * * * * * * * * * * * * * * *
 * Basic, global rules
 * * * * * * * * * * * * * * * * * * *
 */

*, *:before, *:after { box-sizing: border-box; }

html {
	@include main-font;
	font-weight: 400;
	font-size: 62.5%;
	color: $off-black;
	width: 100%;
	height: 100%;
	display: block;
}

body {
	padding: 0px;
	width: 100%;
	height: 100%;
}
